mlflow[databricks]==3.1.0
langgraph==0.3.4
uv==0.6.10
databricks-sdk==0.55.0
databricks-agents==1.0.1
databricks-langchain==0.5.1
databricks-vectorsearch==0.56
unitycatalog-langchain==0.2.0
databricks-sqlalchemy==2.0.6
langchain-openai==0.3.23
langchain==0.3.25
langchain_core==0.3.65
langchain_community==0.3.25
lark==1.2.2
langgraph-supervisor==0.0.4