mlflow[databricks]
langgraph==0.5.3
uv
databricks-sdk
databricks-agents
databricks-langchain==0.5.1
databricks-vectorsearch==0.56
unitycatalog-langchain==0.2.0
databricks-sqlalchemy==2.0.6
langchain-openai==0.3.23
langchain==0.3.25
langchain_core==0.3.65
langchain_community==0.3.25
lark==1.2.2
langgraph-supervisor==0.0.4
pydantic==2.11.7
psycopg[binary,pool]
langgraph-checkpoint-postgres==2.0.21